{% assign favicon_url = relative_root_path | append: '/assets/favicons/' | append: site.organization  %}

{% if site.organization == 'swc' %}
{% assign organization = 'SURFsara' %}
{% elsif site.organization == 'dc' %}
{% assign organization = 'Data Carpentry' %}
{% elsif site.organization == 'lc' %}
{% assign organization = 'Library Carpentry' %}
{% elsif site.organization == 'cp' %}
{% assign organization = 'The Carpentries' %}
{% endif %}

    <!-- Favicons for everyone -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon_url }}/apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ favicon_url }}/apple-touch-icon.png" />
    <link rel="shortcut icon" href="{{ favicon_url }}/favicon.ico" />
    <link rel="mask icon" href="{{ favicon_url }}/safari-pinned-tab.svg" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="{{ organization }} - {{ site.title }}"/>
    <meta name="msapplication-square150x150logo" content="{{ favicon_url }}/mstile-150x150.png" />
